<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/AppTheme.Launcher.Material3"
        tools:replace="android:theme">
        <activity
            android:name="app.aaps.MainActivity"
            android:theme="@style/AppTheme.Material3Overlay.NoActionBar"
            tools:replace="android:theme" />
    </application>

</manifest>
